<div class="panel panel-success">
  <div class="panel-heading">
     <%= link_to 'Edit', edit_transaction_path(@transaction), class: "btn btn-default" %> | <%= link_to 'Back', transactions_path, class: "btn btn-default" %>
  </div>
  <div class="panel-body">
    <p>
  <strong>Order:</strong>
  <%= @transaction.order.id %>
    </p>

    <p>
      <strong>Paid amount:</strong>
      <%= @transaction.paid_amount %>
    </p>

    <p>
      <strong>Discount:</strong>
      <%= @transaction.discount %>
    </p>

    <p>
      <strong>Validation:</strong>
      <%= @transaction.validation_id %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @transaction.status %>
    </p>
  </div>
</div>

